@font-face {
    font-family: BreakingBadFont;
    src:url(heart-breaking-bad.regular.otf);
}

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

body{  
    color:rgba(245, 243, 243, 0.808);
}


header {
    display: flex;
    background-color: rgb(1, 46, 1);
   
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

header figure h1{
    font-family: BreakingBadFont,monospace;
    font-size: 40px;
}

header nav ul {
    display: flex;
    gap: 10px;
}
a {
    font-size: 18px;
    color: rgba(245, 243, 243, 0.808);
}
a:hover{
    color:rgb(6, 99, 6);;
}

main {
    background-color: rgb(13, 62, 16);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px;
    color: rgb(236, 236, 236);
}

main h2{
    font-family: BreakingBadFont,monospace;
    font-size: 70px;
}
main div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    width: 600px;
    font-size: 18px;

}

main div button {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(13, 62, 16);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px 10px;
}

main div button:hover {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 62, 16);
    color: rgb(13, 62, 16);   
    font-size: 20px;
    padding: 5px 10px;
}

main img {
    width: 350px;
    border-radius: 5px;
}


.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 243, 243);
    color: black;
    padding: 90px 50px;
    gap: 18px;
}

.container-cards h2{
    font-size: 42px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.cards img {
    width: 200px;
    height: 200px;
    border-radius:5px;
    border: 8px solid rgb(13, 62, 16);
}

.cards figcaption{
    font-size: 24px;
}



.containter-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 62, 16);
    height: 300px;
    font-size: 20px;
}

.containter-quote p {
    text-align: center;
    width: 650px;
}
.containter-quote figcaption{
    text-align: end;
}


.container-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 55px;
}

.content-signin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(13, 62, 16);
    padding: 20px 90px;
    height: 90px;
    width: 650px;
    border-radius: 5px;
}

.content-signin button{
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(13, 62, 16);
    font-size: 20px;
    padding: 5px 10px;
}

.content-signin button:hover {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(13, 62, 16);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px 10px;
}

.message-signin {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
}

footer{
    background-color: rgb(13, 62, 16);
    padding: 18px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}